.line-events {
  width: 10vw;
  height: 3px;
  border-radius: 5px;
  background-color: var(--cream);
}

.line-tgl {
  width: 23.5vw;
  height: 2px;
  border-radius: 5px;
  background: linear-gradient(90deg, #a4ce39 0%, rgba(164, 206, 57, 0) 100%);
}

.line-tgl2 {
  width: 27.5vw;
  height: 2px;
  border-radius: 5px;
  background: linear-gradient(90deg, #a4ce39 0%, rgba(164, 206, 57, 0) 100%);
}

.events-container {
  column-gap: 2vw;
  row-gap: 3vh;
  flex-direction: row;
}

.events-left {
  /* background: red; */
  width: 39vw;
  color: var(--green);
}

.events-right {
  /* background: green; */
  width: 39vw;
  color: var(--green);
}

.text-tempat {
  font-size: 2.8vw;
  color: var(--cream);
}

.text-tgl2 {
  font-size: 2.5vw;
}

.img-tempat {
  width: 39vw;
  margin-top: -10px;
}

.img-tempat2 {
  margin-top: -30px;
}

.bar {
  background: linear-gradient(90deg, #a4ce39 0%, #781442 100%);
  color: var(--cream);
}

.extended {
  background: linear-gradient(90deg, #A4CE39 0%, #FAF6E6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.slider {
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.slider1 {
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  color: var(--cream);
}

.slider-track {
  animation: 40s slide infinite linear;
  display: inline-block;
}

.slider-track span {
  font-size: 2vw;
  color: var(--cream);
}

.slider-track svg {
  margin: 0 1.5vw;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1024px) {
  .img-tempat {
    margin-top: 10px;
  }

  .img-tempat2 {
    margin-top: -10px;
  }
}

@media screen and (max-width: 768px) {
  .events-container {
    flex-direction: column;
  }

  .line-events {
    width: 35vw;
    height: 2px;
    background-color: var(--cream);
  }

  .line-tgl {
    width: 39.5vw;
  }

  .line-tgl2 {
    width: 51vw;
  }

  .text-tempat {
    font-size: 8vw;
  }

  .text-tgl2 {
    font-size: 7vw;
  }

  .events-left,
  .events-right {
    width: 80vw;
  }

  .img-tempat,
  .img-tempat2 {
    margin-top: 0;
    width: 80vw;
  }

  .slider-track span {
    font-size: 5vw;
  }

  .slider-track svg {
    margin: 0 3vw;
    width: 16px;
    height: 16px;
  }
}